<?xml version="1.0" encoding="utf-8"?>
<Cameras>
  <Group id="6" name="Free" desc="Free cameras all around the world">
    <Group id="7" name="JPEG Stream" desc="">
      <Camera id="13" name="Riga" desc="Sponsored by Paritate Bank" provider="jpeg.JPEGSourceDescription" source="http://www.webcamera.lv/pmg/cam1_fullsize.jpg" login="" password="" interval="10000" />
      <Camera id="81" name="Les Orres" desc="" provider="jpeg.JPEGSourceDescription" source="http://www.lesorres.com/imgcam/netcam.jpg" login="" password="" interval="10000" />
      <Camera id="82" name="Togwotee Mountain Lodge" desc="" provider="jpeg.JPEGSourceDescription" source="http://www.togwoteelodge.com/webcam/netcam.jpg" login="" password="" interval="10000" />
      <Camera id="84" name="Incredible huge" desc="" provider="jpeg.JPEGSourceDescription" source="http://www.gtc.iac.es/netcam/netcam.jpg" login="" password="" interval="10000" />
      <Camera id="109" name="Axis 241S Video Server" desc="" provider="jpeg.JPEGSourceDescription" source="http://217.168.94.131/axis-cgi/jpg/image.cgi?resolution=320x240" login="" password="" interval="0" />
      <Camera id="111" name="Axis 207W Network Camera" desc="" provider="jpeg.JPEGSourceDescription" source="http://home.kramer-ehingen.de:8000/axis-cgi/jpg/image.cgi?resolution=320x240" login="" password="" interval="0" />
      <Camera id="112" name="Axis 210  Network Camera" desc="" provider="jpeg.JPEGSourceDescription" source="http://217.31.175.62/axis-cgi/jpg/image.cgi?resolution=320x240" login="" password="" interval="0" />
      <Camera id="114" name="Sebo Center Construction - Axis 210" desc="" provider="jpeg.JPEGSourceDescription" source="http://sebocam.bgsu.edu/axis-cgi/jpg/image.cgi" login="" password="" interval="0" />
      <Camera id="117" name="Axis 2420" desc="" provider="jpeg.JPEGSourceDescription" source="http://131.251.38.183/axis-cgi/jpg/image.cgi" login="" password="" interval="0" />
    </Group>
    <Group id="8" name="MJPEG Stream" desc="">
      <Camera id="17" name="Vermont" desc="The University of Vermont, Campus" provider="mjpeg.MJPEGSourceDescription" source="http://chipmunk.uvm.edu/cgi-bin/webcam/nph-update.cgi?dummy=garb" login="" password="" />
      <Camera id="21" name="IT-On.NET 1" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://webcam-1.duesseldorf.it-on.net/cgi-bin/nph-update.cgi" login="" password="" />
      <Camera id="22" name="IT-On.NET 2" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://webcam-2.duesseldorf.it-on.net/cgi-bin/nph-update.cgi" login="" password="" />
      <Camera id="119" name="Axis 211" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://towercam.uu.edu/axis-cgi/mjpg/video.cgi" login="" password="" />
      <Camera id="120" name="Axis 232D Network Dome Camera" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://136.165.99.86/axis-cgi/mjpg/video.cgi" login="" password="" />
      <Camera id="121" name="Axis 213 PTZ" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://217.114.115.192/axis-cgi/mjpg/video.cgi" login="" password="" />
      <Camera id="122" name="Axis 221" desc="" provider="mjpeg.MJPEGSourceDescription" source="http://129.78.249.81/axis-cgi/mjpg/video.cgi" login="" password="" />
    </Group>
    <Group id="9" name="Axis 2100" desc="">
      <Camera id="59" name="Lesia" desc="Observatoire de Paris" provider="axis.Axis2100Description" source="145.238.28.8" login="" password="" size="320x240" stype="1" interval="0" />
      <Camera id="60" name="Station" desc="" provider="axis.Axis2100Description" source="158.39.49.50" login="" password="" size="320x240" stype="1" interval="0" />
      <Camera id="103" name="Varazdin-Korzo" desc="" provider="axis.Axis2100Description" source="161.53.120.119" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="105" name="Room 131" desc="" provider="axis.Axis2100Description" source="133.5.31.5" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="106" name="Room 132" desc="" provider="axis.Axis2100Description" source="133.5.31.6" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="107" name="Room 134" desc="" provider="axis.Axis2100Description" source="133.5.31.7" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="108" name="Room 135" desc="" provider="axis.Axis2100Description" source="133.5.31.8" login="" password="" size="320x240" stype="0" interval="0" />
    </Group>
    <Group id="10" name="Axis 205" desc="">
      <Camera id="118" name="Flugplatz Kagiswil" desc="" provider="axis.Axis205Description" source="fbag.dyndns.org" login="" password="" size="320x240" stype="1" interval="0" />
    </Group>
    <Group id="11" name="Axis 206" desc="">
      <Camera id="115" name="Camera" desc="" provider="axis.Axis206Description" source="213.129.248.131" login="" password="" size="320x240" stype="1" interval="0" />
      <Camera id="116" name="Live-Ansicht" desc="" provider="axis.Axis206Description" source="193.247.200.57" login="" password="" size="320x240" stype="0" interval="0" />
    </Group>
    <Group id="12" name="PiXORD" desc="">
      <Camera id="34" name="Animuizas Bulvar 1" desc="" provider="pixord.PixordCameraDescription" source="80.232.133.242" login="" password="" size="sif" stype="1" interval="0" />
      <Camera id="35" name="Animuizas Bulvar 2" desc="" provider="pixord.PixordCameraDescription" source="80.232.133.243" login="" password="" size="sif" stype="1" interval="333" />
    </Group>
    <Group id="14" name="Panasonic" desc="">
      <Camera id="39" name="Lighthouse" desc="" provider="panasonic.PanasonicCameraDescription" source="hvmmarinacam.viewnetcam.com:8080" login="" password="" size="320x240" stype="1" quality="Standard" interval="0" />
      <Camera id="40" name="Skis mountain" desc="" provider="panasonic.PanasonicCameraDescription" source="67.50.64.66:50000" login="" password="" size="320x240" stype="1" quality="Standard" interval="0" />
    </Group>
    <Group id="15" name="StarDot NetCam" desc="">
      <Camera id="50" name="UCS Roach" desc="" provider="stardot.StardotNetCamDescription" source="129.252.89.30" login="" password="" interval="0" />
      <Camera id="51" name="Kite Loft" desc="" provider="stardot.StardotNetCamDescription" source="aigweb.net:8080" login="" password="" interval="0" />
      <Camera id="87" name="NetCam 1" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo1.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="88" name="NetCam 2" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo2.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="89" name="NetCam 3" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo3.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="90" name="NetCam 4" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo4.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="91" name="NetCam 5" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo5.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="92" name="NetCam 6" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo6.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="93" name="NetCam 7" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo7.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="94" name="NetCam 8" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo8.stardot-tech.com" login="" password="" interval="0" />
      <Camera id="95" name="NetCam 9" desc="" provider="stardot.StardotNetCamDescription" source="nc-demo9.stardot-tech.com" login="" password="" interval="0" />
    </Group>
    <Group id="16" name="Axis 2130" desc="">
      <Camera id="128" name="Forsknings Park" desc="" provider="axis.Axis2130RDescription" source="158.39.11.250" login="" password="" size="352x240" stype="0" interval="0" />
    </Group>
    <Group id="17" name="DLink" desc="">
      <Camera id="54" name="Fish" desc="DCS-5300 camera" provider="dlink.DLinkCameraDescription" source="67.130.140.108:8000" login="dlink" password="dlink" interval="0" />
    </Group>
    <Group id="18" name="StarDot Express 6" desc="">
      <Camera id="96" name="Cam 1" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="0" />
      <Camera id="97" name="Cam 2" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="1" />
      <Camera id="98" name="Cam 3" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="2" />
      <Camera id="99" name="Cam 4" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="3" />
      <Camera id="100" name="Cam 5" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="4" />
      <Camera id="101" name="Cam 6" desc="" provider="stardot.StardotExpress6Description" source="e6-demo1.stardot-tech.com" login="" password="" interval="0" camera="5" />
    </Group>
    <Group id="19" name="Axis 2400" desc="">
      <Group id="24" name="Server 1" desc="">
        <Camera id="124" name="Cam 1" desc="" provider="axis.Axis2400Description" source="trafico.sctfe.es" login="" password="" camera="1" stype="0" interval="0" />
        <Camera id="125" name="Cam 2" desc="" provider="axis.Axis2400Description" source="trafico.sctfe.es" login="" password="" camera="2" stype="0" interval="0" />
        <Camera id="126" name="Cam 3" desc="" provider="axis.Axis2400Description" source="trafico.sctfe.es" login="" password="" camera="3" stype="0" interval="0" />
        <Camera id="127" name="Cam 4" desc="" provider="axis.Axis2400Description" source="trafico.sctfe.es" login="" password="" camera="4" stype="0" interval="0" />
      </Group>
      <Group id="25" name="Imperial Palace - Las Vegas" desc="">
        <Camera id="130" name="Cam 1" desc="" provider="axis.Axis2400Description" source="24.234.255.102" login="" password="" camera="1" stype="0" interval="0" />
        <Camera id="131" name="Cam 2" desc="" provider="axis.Axis2400Description" source="24.234.255.102" login="" password="" camera="2" stype="0" interval="0" />
        <Camera id="132" name="Cam 3" desc="" provider="axis.Axis2400Description" source="24.234.255.102" login="" password="" camera="3" stype="0" interval="0" />
        <Camera id="133" name="Cam 4" desc="" provider="axis.Axis2400Description" source="24.234.255.102" login="" password="" camera="4" stype="0" interval="0" />
      </Group>
      <Group id="26" name="Stuttgart Airport" desc="">
        <Camera id="134" name="Cam 1" desc="" provider="axis.Axis2400Description" source="195.243.185.195" login="" password="" camera="1" stype="0" interval="0" />
        <Camera id="135" name="Cam 2" desc="" provider="axis.Axis2400Description" source="195.243.185.195" login="" password="" camera="2" stype="0" interval="0" />
        <Camera id="136" name="Cam 3" desc="" provider="axis.Axis2400Description" source="195.243.185.195" login="" password="" camera="3" stype="0" interval="0" />
        <Camera id="137" name="Cam 4" desc="" provider="axis.Axis2400Description" source="195.243.185.195" login="" password="" camera="4" stype="0" interval="0" />
      </Group>
      <Camera id="64" name="Cam 1-1" desc="" provider="axis.Axis2400Description" source="61.220.38.10" login="" password="" camera="1" stype="1" interval="0" />
      <Camera id="65" name="Cam 2-1" desc="" provider="axis.Axis2400Description" source="211.21.86.10" login="" password="" camera="1" stype="1" interval="0" />
      <Camera id="66" name="Cam 3-1" desc="" provider="axis.Axis2400Description" source="61.220.39.115" login="" password="" camera="1" stype="1" interval="0" />
    </Group>
    <Group id="20" name="Axis 2401" desc="">
      <Camera id="70" name="Weitsicht" desc="" provider="axis.Axis2401Description" source="141.60.162.149" login="" password="" stype="1" interval="0" />
    </Group>
    <Group id="21" name="Axis 2110" desc="">
      <Camera id="74" name="Skrea strand" desc="" provider="axis.Axis2110Description" source="212.162.177.75" login="" password="" size="320x240" stype="1" interval="0" />
      <Camera id="104" name="Iris" desc="" provider="axis.Axis2110Description" source="iris.not.iac.es" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="110" name="Dalane Tidende" desc="" provider="axis.Axis2110Description" source="212.33.157.57" login="" password="" size="320x240" stype="0" interval="0" />
      <Camera id="123" name="Airplanes" desc="" provider="axis.Axis2110Description" source="81.221.19.125" login="" password="" size="320x240" stype="0" interval="0" />
    </Group>
    <Group id="22" name="Axis 2120" desc="">
      <Camera id="77" name="Park" desc="" provider="axis.Axis2120Description" source="129.186.47.239" login="" password="" size="352x240" stype="1" interval="0" />
      <Camera id="79" name="Botngard" desc="" provider="axis.Axis2120Description" source="80.232.34.33" login="" password="" size="352x240" stype="1" interval="0" />
      <Camera id="80" name="Molde" desc="Molde University College" provider="axis.Axis2120Description" source="158.38.82.16" login="" password="" size="352x240" stype="1" interval="0" />
      <Camera id="102" name="Privera" desc="" provider="axis.Axis2120Description" source="212.98.46.120" login="" password="" size="352x240" stype="0" interval="0" />
      <Camera id="113" name="University of Illinois SoyFACE" desc="" provider="axis.Axis2120Description" source="webcam.gcrl.uiuc.edu" login="" password="" size="352x240" stype="0" interval="0" />
      <Camera id="129" name="Beluga" desc="" provider="axis.Axis2120Description" source="142.22.58.150" login="" password="" size="352x240" stype="0" interval="0" />
    </Group>
    <Group id="23" name="MMS Stream" desc="">
      <Camera id="85" name="Рига - Каменный мост" desc="" provider="stream.VideoStreamSourceDescription" source="mms://195.2.119.71/webcam1" />
      <Camera id="86" name="Sharks" desc="" provider="stream.VideoStreamSourceDescription" source="mms://wmr01sea.loudeye.com/mba-sharks-p" />
    </Group>
  </Group>
</Cameras>