<?xml version="1.0" encoding="utf-8"?>
<Views>
  <View id="1" name="Sample View 3x3" desc="" rows="3" cols="3" width="320" height="240" cameras="59,60,74,0,0,79,80,77,0,0,21,22,17,0,0,0,0,0,0,0,0,0,0,0,0" />
  <View id="2" name="StarDot NetCam Demo" desc="" rows="3" cols="3" width="320" height="240" cameras="87,88,89,0,0,90,91,92,0,0,93,94,95,0,0,0,0,0,0,0,0,0,0,0,0" />
  <View id="3" name="StarDot Express 6 Demo" desc="" rows="2" cols="3" width="320" height="240" cameras="96,97,98,0,0,99,100,101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" />
  <View id="4" name="Axis 2400+ Video Server" desc="" rows="2" cols="2" width="352" height="288" cameras="124,125,0,0,0,126,127,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" />
  <View id="5" name="Imperial Palace - Las Vegas" desc="" rows="2" cols="2" width="352" height="240" cameras="130,131,0,0,0,132,133,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" />
  <View id="6" name="Stuttgart Airport" desc="" rows="2" cols="2" width="352" height="288" cameras="134,135,0,0,0,136,137,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" />
</Views>